* {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  background-color: white;
}

#nprogress .bar {
  background: #ccc !important;
}

#nprogress .peg {
  box-shadow: 0 0 10px #ccc, 0 0 5px #ccc !important;
}

#nprogress .spinner-icon {
  border-top-color: #ccc !important;
  border-left-color: #ccc !important;
}

.cat-title {
  margin: 0;
  padding: 1rem;
  background-color: #fff;
}

.collection {
  margin: 0 auto;
  padding: 0;
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  max-width: 48rem;
}

.item {
  width: 100%;
  background-color: #fff;
  color: black;
  margin: 1rem 0;
}

.item.adult {
  background-color: pink;
}

.item .user-header {
  margin: 0.7rem 1rem;
  display: flex;
  align-items: center;
  position: relative;
}

.item .user-header::before {
  border: 2px solid grey;
  border-radius: 50%;
  content: "";
  z-index: 9999999;
  display: block;
  position: absolute;
  top: -4px;
  left: -4px;
  width: 36px;
  height: 36px;
}

.item .user {
  font-size: 1rem;
  padding: 0;
  margin: 0 0.5rem;
}

.item .avatar {
  margin: 0 0;
  width: 32px;
  height: 32px;
  border-radius: 50%;
  overflow: hidden;
}

.item .title {
  font-size: 1rem;
  font-weight: 300;
  margin: 1rem;
  color: lightslategray;
}

.item .cover {
  max-width: 100%;
  display: block;
  margin: 0 auto;
  position: absolute;
  top: 0;
  opacity: 1;
  transition: opacity 0.3s;
}

.item .cover[data-src] {
  opacity: 0;
}

.item .image-container {
  position: relative;
  background-color: lightgrey;
}

.nav {
  margin: 0 auto;
  padding: 1rem;
  list-style-type: none;
  display: flex;
  width: 100%;
  max-width: 48rem;
  position: fixed;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  background-color: #111;
  z-index: 999;
}

.nav li {
  flex: 1;
  text-align: center;
}

.nav li a {
  padding: 0rem;
  font-size: 1rem;
  text-transform: uppercase;
  display: block;
  text-decoration: none;
  color: grey;
}

.nav li a:hover {
  color: lightgray;
}

.nav li.selected a {
  color: whitesmoke;
}

@media only screen and (min-width: 48rem) {
  body,
  html {
    background-color: rgba(0, 0, 0, 0.025);
  }

  .cat-title {
    display: none;
  }

  .nav {
    margin: 0 auto;
    padding: 1rem;
    position: relative;
    left: auto;
    transform: none;
    background-color: transparent;
  }

  .nav li a {
    padding: 0.75rem 1rem;
    font-size: 1rem;
  }

  .nav li.selected a {
    color: #111;
  }

  .item {
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 3px;
  }

  .item:first-child {
    margin: 0 0 1rem;
  }
}
