* {
  box-sizing: border-box;
}

html {
  margin: 0;
  padding: 0;
  background-color: white;
}

body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.hide {
  display: none !important;
}

#nprogress .bar {
  background: #ccc !important;
}

#nprogress .peg {
  box-shadow: 0 0 10px #ccc, 0 0 5px #ccc !important;
}

#nprogress .spinner-icon {
  border-top-color: #ccc !important;
  border-left-color: #ccc !important;
}

.cat-title {
  margin: 0;
  padding: 1rem;
  background-color: #fff;
  font-weight: 500;
}

.collection {
  margin: 0 auto;
  padding: 0;
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  max-width: 48rem;
}

.item {
  width: 100%;
  background-color: #fff;
  color: black;
  margin: 1rem 0;
  position: relative;
}

.item.when-loading .avatar {
  background-color: rgba(0, 0, 0, 0.05);
}

.item.when-loading .user {
  background-color: rgba(0, 0, 0, 0.05);
  width: 100px;
  height: 18px;
}

.item.when-loading .image-container {
  padding-top: 75%;
  background-color: rgba(0, 0, 0, 0.05);
}

.item.when-loading .user-header::before {
  border: 2px solid rgba(0, 0, 0, 0.05);
}

.item.when-loading .title {
  background-color: rgba(0, 0, 0, 0.05);
  width: 250px;
  height: 18px;
}

.item .title {
  font-size: 1rem;
  font-weight: 300;
  margin: 0;
  color: lightslategray;
}

.item .image-container {
  position: relative;
  background-color: lightgrey;
}

.nav {
  margin: 0 auto;
  padding: 1rem;
  list-style-type: none;
  display: flex;
  width: 100%;
  max-width: 48rem;
  position: fixed;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  background-color: #111;
  z-index: 999;
}

.nav li {
  flex: 1;
  text-align: center;
}

.nav li a {
  padding: 0rem;
  font-size: 1rem;
  text-transform: uppercase;
  display: block;
  text-decoration: none;
  color: grey;
}

.nav li a:hover {
  color: lightgray;
}

.nav li a.selected {
  color: whitesmoke;
  cursor: auto;
}

.loader {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.loader-icon {
  width: 18px;
  height: 18px;
  box-sizing: border-box;

  border: solid 2px transparent;
  border-top-color: white;
  border-left-color: white;
  border-radius: 50%;

  -webkit-animation: loader-spinner 800ms linear infinite;
  animation: loader-spinner 800ms linear infinite;
}

@-webkit-keyframes loader-spinner {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
  }
}
@keyframes loader-spinner {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@media only screen and (min-width: 48rem) {
  html {
    background-color: rgba(0, 0, 0, 0.025);
  }

  .cat-title {
    display: none;
  }

  .nav {
    margin: 0 auto;
    padding: 1rem;
    position: relative;
    left: auto;
    transform: none;
    background-color: transparent;
  }

  .nav li a {
    padding: 0.75rem 1rem;
    font-size: 1rem;
  }

  .nav li a.selected {
    color: #111;
  }

  .item {
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 3px;
  }

  .item:first-child {
    margin: 0 0 1rem;
  }
}
